<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="container">
      <h1>Shitty DJ</h1>
      <h3>Current Playlist</h3>
      <ul>
        <% playlist.forEach(function(playlist){ %>
          <li><%= playlist.url %></li>
        <%  }); %>
      </ul>
    </div>
  </body>
</html>