<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Get this thing to work</h1>
        <p class="lead">...</p>
      </div>
    </div>
  </body>
</html>