<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <script>
      $(function() {
        $('#playPauseBtn').click(function(e) {
          var currentState = $(e.target).text();
          if (currentState === 'Play') {
            $.get('pause');
            $(e.target).text('Pause');
          } else {
            $.get('play');
            $(e.target).text('Play');
          }
        });

        $('#add').click(function() {
          window.location = window.location.origin + '/add';
        })
      });
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Shitty DJ</h1>
      <button type="button" class="btn btn-primary" id="playPauseBtn">Pause</button>
      <button type="button" class="btn btn-primary" id="add">Add track to playlist</button>
      <h3>Current Playlist</h3>
      <ul>
        <% playlist.forEach(function(playlist){ %>
          <li>
            <p><img src="<%= playlist.artWork %>"/> <%= playlist.title %></p>
          </li>
        <%  }); %>
      </ul>
    </div>
  </body>
</html>