.header {
    box-sizing: border-box;
    height: $heaer-height;
    left: 0;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    height: calc(100% - #{$heaer-height + $footer-height});
    position: relative;
    top: $heaer-height;
    overflow: auto;
    padding: 15px 15px 10px;
    box-sizing: border-box;
}

.logo {
    font-size: 40px;
    margin-bottom: 5px;
    color: $font-active;
    img {
        width: 42px;
        position: relative;
        top: 4px;
    }
}

img.ico {
    width: 25px;
    height: 25px;
}

.ico-plus {
    border-radius: 50%;
    border: 1px solid;
    padding: 5px;
    position: relative;
    top: 12px;
}

.footer {
    background: $gray;
    bottom: 0;
    box-sizing: border-box;
    height: $footer-height;
    left: 0;
    line-height: $footer-height;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
    .ico {
        vertical-align: middle;
    }
    .ico-footer {
        width: $footer-height;
    }
}

.footer-song-info {
    float: left;
    font-size: 12px;
    line-height: 50px;
    width: calc(100% - #{$footer-height * 2});
    font-weight: 500;
}

.ico-volume-wrapper {
    position: relative;
    z-index: 20;
    background: $gray;
}

.volume-control {
    background: $gray;
    border-top-left-radius: 3px;
    bottom: -$footer-height;
    line-height: 40px;
    padding-top: 5px;
    position: fixed;
    right: 0;
    text-align: center;
    transition: bottom 300ms ease 0s;
    width: $footer-height;
    &.volume-show {
        bottom: $footer-height;
        transition: bottom 300ms ease 0s;
    }
}

.duration-time {
    bottom: 10px;
    position: fixed;
    font-size: 11px;
    width: 100%;
    line-height: 11px;
}

.duration {
    background: $font;
    height: 3px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.song-list {
    li {
        border-bottom: 1px solid $gray;
        padding: 10px 0;
        &:last-of-type {
            border-bottom: 0;
        }
    }
    .song-img {
        width: 150px;
        float: left;
    }
    .song-text {
        padding-left: 10px;
        float: left;
        width: calc(100% - #{$song-img-width});
        box-sizing: border-box;
        h3 {
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
        }
    }
}
