@value variables: "./assets/css/variables.css";
@value --black, --gray, --fontColor, --fontColorActive, --headerHeight, --footerHeight, --songImgWidth from variables;
.header {
    box-sizing: border-box;
    height: --headerHeight;
    left: 0;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    height: calc(100% - --headerHeight + --footerHeight);
    position: relative;
    top: --headerHeight;
    overflow: auto;
    padding: 15px 15px 10px;
    box-sizing: border-box;
}

.logo {
    font-size: 40px;
    margin-bottom: 5px;
    color: --fontColorActive;
}

.logo img {
    width: 42px;
    position: relative;
    top: 4px;
}

svg.ico {
    width: 25px;
    height: 25px;
    fill:--fontColor;
}

.ico-plus {
    border-radius: 50%;
    border: 1px solid;
    padding: 5px;
    position: relative;
    top: 12px;
}

.footer {
    background: --gray;
    bottom: 0;
    box-sizing: border-box;
    height: --footerHeight;
    left: 0;
    line-height: --footerHeight;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.footer .ico {
    vertical-align: middle;
}

.footer .ico-footer {
    width: --footerHeight;
}

.footer-song-info {
    float: left;
    font-size: 12px;
    line-height: 50px;
    width: calc(100% - --footerHeight - --footerHeight);
    font-weight: 500;
}

.ico-volume-wrapper {
    position: relative;
    z-index: 20;
    background: --gray;
}

.volume-control {
    background: --gray;
    border-top-left-radius: 3px;
    bottom: ---footerHeight;
    line-height: 40px;
    padding-top: 5px;
    position: fixed;
    right: 0;
    text-align: center;
    transition: bottom 300ms ease 0s;
    width: --footerHeight;
}

.volume-control.volume-show {
    bottom: --footerHeight;
    transition: bottom 300ms ease 0s;
}

.duration-time {
    bottom: 10px;
    position: fixed;
    font-size: 11px;
    width: 100%;
    line-height: 11px;
}

.duration {
    background: --fontColor;
    height: 3px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.song-list li {
    border-bottom: 1px solid --gray;
    padding: 10px 0;
}

.song-list li:last-of-type {
    border-bottom: 0;
}

.song-list .song-img {
    width: 150px;
    float: left;
}

.song-list .song-text {
    padding-left: 10px;
    float: left;
    width: calc(100% - --songImgWidth);
    box-sizing: border-box;
}

.song-list h3 {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.hr {
    border-bottom: 1px solid --fontColor;
    margin: 20px 0 10px;
    height: 1px;
    width: 100%;
}

.add-song-modal {
    background: --gray;
    bottom: 0;
    box-sizing: border-box;
    height: 100%;
    opacity: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 300;
    transition: opacity 0.5s, visibility 0s 0.5s;
}
.add-song-modal .visible {
  transition: opacity 0.5s;
  visibility: visible;
  opacity: 1;
}
.add-song-modal input,
.add-song-modal button {
  border-radius: 3px;
  border: 1px solid --fontColor;
  box-sizing: border-box;
  font-size: 14px;
  height: 35px;
  outline: 0;
  padding: 0 10px;
  width: 100%;
}
.add-song-modal button[type=submit] {
  margin-top: 15px;
  color: --black;
  background: --fontColor;
}
